

.form-box {
  max-width: 100vw;
  max-height: 100vh;
  background: #c7d4e0;
  overflow: hidden;
  border-radius: 16px;
  color: #010101;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 24px;
  gap: 16px;
  text-align: center;
}

/*Form text*/
.title {
  font-weight: bold;
  text-align: center;
  font-size:2rem;
  font-style: italic;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: bold;
  color: #666;
  font-style: italic;
}

/*Inputs box*/
.form-container {
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
  margin: 1rem 0 .5rem;
  width: 100%;
}

.input {
  background: none;
  border: 0;
  outline: 0;
  height: 40px;
  font-weight: 550;
  font-size: 3rem;
  width: 100%;
  border-bottom: 5px solid #eee;
  font-size:18px;
  padding: 8px 15px;
  
}

.form-section {
  padding: 16px;
  font-size: .85rem;
  background-color: #e0ecfb;
  box-shadow: rgb(0 0 0 / 8%) 0 -1px;
}

.form-section .Login {
  font-weight: bold;
  color: #0066ff;
  transition: color .3s ease;
  text-decoration: none;
}

.form-section .Login:hover {
  color: #005ce6;
  text-decoration: underline;
}

/*Button*/
.form button {
  background-color: #0066ff;
  color: #fff;
  border: 0;
  border-radius: 24px;
  padding: 10px 16px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color .3s ease;
}

.form button:hover {
  background-color:#a19fe4;
  color:#005ce6;
}
.sidebar {
display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1px;
    padding: 16px;
}
.Sign_h1{
    color:white;
    font-style: italic !important;
}
.Sign_Image{
    width: 90%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
.sign_p{
    font-weight: bold;
    padding-bottom: none;
}
.Sign_Logo{
margin-bottom: none;
}
.Sign_Logo .logo{
  width: auto;
  height: 100px;
}